.row1
{
    text-align: right;
   margin-right: 10px;
    margin-top: 10px;
}

nav
{
    background-color: #26a69a;
}

img
{
    margin-left: 20px;
    margin-top: 5px;

}

.card
{
    margin-left:auto;
    margin-right: auto;
    width: 400px;

}

#title_login, .row {
    margin-top: 60px;
}

footer {
    position: relative;
    bottom: 0;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
}

#wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
}

.main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}

.header {
    border: 0px solid #000;
    margin-bottom: 5px;
}

.header img {
    height: 50px;
    width: 175px;
    margin: auto;
    position: relative;
    left: 40px;
}

.input-1,
.input-2 {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
}

.overlap-text {
    position: relative;
}

.overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -1px;
}

/**
forms
 */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

form input, form textarea, form select {
    box-sizing: border-box;
    margin-bottom: 12px;
    min-width: 300px;
}

form textarea {
    min-height: 70px;
}

form button {
    padding: 5px 10px;
}

form ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

form ul > li {
    display: block;
    font-weight: bold;
    color: #AA3333;
}