<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset("css/app.css") }}">

    <link rel="icon" href="{{ asset('img/favsortircom.png') }}">


</head>
<body>
<header>

    {% include('inc/nav.html.twig') %}

</header>

<main>
    {% block main %}



    {% endblock %}
</main>

<footer>
    ©Laurene & Carine
</footer>
</body>
</html>